* {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #00519e;
}

a:hover {
    text-decoration: underline;
}

#page {
    width: 1260px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 129px;
}

#banner {
    text-align: center;
    height: 70px;
    padding-top: 20px;
}

#menuBar {
    
}

#menuBarLeft {
    background-image: url(../img/menu_bg.png);	
    float: left;
    width: 1124px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    -moz-border-radius: 16px 0 0 16px;
    -webkit-border-radius: 16px 0 0 16px;
    border-radius: 16px 0 0 16px;
}

#menuBarRight {
    background-image: url(../img/menu_bg.png);	
    width: 116px;
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
    float: right;
    text-align: right;
    -moz-border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    padding: 0 0 100px;
    height: 1%;
    position: relative;
}

#middle:after {
    content: '';
    clear: both;
    display: table;
}

#container {
    width: 100%;
    float: left;
    overflow: hidden;
}

#content {
    padding: 20px 0 0 210px;
}

#contentWithoutSubMenu {
    padding: 20px 0 0 20px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#subMenu {
    float: left;
    width: 180px;
    margin-left: -100%;
    margin-top: 20px;
    position: relative;
    padding: 10px;
    background-image: url(../img/menu_bg.png);
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 1260px;
    margin: -40px auto 0;
    height: 20px;
    background-image: url(../img/menu_bg.png);
    position: relative;
    text-align: center;
    padding: 10px;
    -moz-border-radius: 16px 16px 16px 16px;
    -webkit-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
}

/* Tables
-----------------------------------------------------------------------------*/
.auctionsTable {
    width:98%;
    border-collapse:collapse;
}

.auctionsTable td, th {
    font-size:1em;
    padding:3px 7px 2px 7px;
}

.auctionsTable tr:hover {
    background-color: #ffeeee;
}

.auctionsTable td {
    border:1px solid #cc0000;
}

.auctionsTable th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#cc0000;
    color:#ffffff;
}

.auctionsTable th:first-child {
    -moz-border-radius: 16px 0 0 0;
    -webkit-border-radius: 16px 0 0 0;
    border-radius: 16px 0 0 0;
}

.auctionsTable th:last-child {
    -moz-border-radius: 0 16px 0 0;
    -webkit-border-radius: 0 16px 0 0;
    border-radius: 0 16px 0 0;
}

.auctionsTable th:only-child{
    -moz-border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
}

.auctionsTable tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
}

/* Forms
-----------------------------------------------------------------------------*/
.zend_form {  
    background: #fff;  
    width: 640px;  
    margin: 5px auto;  
    padding: 0;  
    overflow: auto;  
}  
  
.zend_form dt {  
    padding: 0;  
    clear: both;  
    width: 30%;  
    float: left;  
    text-align: right;  
    margin: 5px 5px 5px 0;  
}  
  
.zend_form dd {  
    padding: 0;  
    float: left;  
    width: 68%;  
    margin: 5px 2px 5px 0;  
}  

.loginPageCustoms {
    margin-left: 500px;
}

.errors {  
    color: red;
}  

.zend_form p {  
    padding: 0;  
    margin: 0;  
}  
  
.zend_form input, .zend_form textarea {  
    margin: 0 0 2px 0;  
    padding: 0;  
}  
  
.submit {  
    float: right;
}  
  
.required:before{content:'* '}  
  
.optional:before{content:'+ '}  

/* jQuery
-----------------------------------------------------------------------------*/
.deleteButton .ui-button-icon-primary {
    left: 0px !important;
}

.resetButton .ui-button-icon-primary {
    left: 0px !important;
}

.editButton .ui-button-icon-primary {
    left: 0px !important;
}

.ui-widget {
    font-size: 14px !important;
}

/* Auction list
-----------------------------------------------------------------------------*/
.auctionListItem .thumbnail {
    max-height: 60px;
    max-width: 80px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.auctionListItem .thumbnailContainer {
    height: 60px;
    width: 80px;
    top: 50%;
    margin-top: -30px;
    margin-left: 5px;
    float: left;
    position: relative;
    vertical-align: middle;
    border: solid 1px gray;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.auctionListItem .titleContainer {
    top: 50%;
    margin-top: -30px;
    margin-left: 10px;
    width: 700px;
    height: 60px;
    float: left;
    position: relative;
}

.auctionListItem .price {
    margin-left: 5px;
    width: 245px;
    float: left;
    position: relative;
    top: 50%;
    margin-top: -30px;
}

.auctionListItem .price .one {
    padding-left: 5px;
    height: 30px;
    padding-top: 10px;
}

.auctionListItem .price .two .up {
    padding-left: 5px;
    height: 20px;
}

.auctionListItem .price .two .down {
    padding-left: 5px;
    height: 20px;
}

.auctionListItem .price .endTime {
    padding-left: 5px;
    height: 20px;
    margin-top: 5px;
    font-size: 0.7em;
}

/* Auction
-----------------------------------------------------------------------------*/

#auction #header {
    height: 80px;
    border: 1px solid #cc0000;
    padding-top: 15px;
    padding-left: 15px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #header #title {
    font-size: 2em;
    font-weight: bolder;
}

#auction #header #titleContainer {
    margin-left: 10px;
    position: relative;
    float: left;
    width: 810px;
}

#auction #header #timeAndUserInformation {
    margin-left: 10px;
    position: relative;
    float: left;
    width: 300px;
}

#auction #header #categoryList {
    
}

#auction #header #thumbnail {
    max-height: 60px;
    max-width: 80px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #header #thumbnailContainer {
    height: 60px;
    width: 80px;
    margin-left: 5px;
    float: left;
    position: relative;
    vertical-align: middle;
    border: solid 1px gray;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #gallery {
    text-align: center;
    width: 1218px;
    background: #ffeeee;
    border: 1px solid #cc0000;
    padding: 10px;
    margin-top: 20px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #gallery .attachment {
    max-height: 120px;
    max-width: 160px;
    border: solid 1px gray;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #transaction {
    
}

#auction #transaction #oneType {
    text-align: center;
    width: 1218px;
    background: #ffeeee;
    border: 1px solid #cc0000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #transaction #twoTypes {
    /*position: relative;*/
    width: 1240px;
    height: 61px;
    /*margin-top: 120px;*/
}

#auction #transaction #twoTypes #bidding {
    text-align: center;
    width: 587px;
    position: relative;
    float: left;
    background: #ffeeee;
    border: 1px solid #cc0000;
    margin-top: 20px;
    padding: 10px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #transaction #twoTypes #buyOut {
    text-align: center;
    width: 587px;
    position: relative;
    float: left;
    background: #ffeeee;
    border: 1px solid #cc0000;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #description {
    width: 1218px;
    border: 1px solid #cc0000;
    margin-top: 20px;
    padding: 10px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#auction #transactions {
    text-align: center;
    width: 1218px;
    background: #ffeeee;
    border: 1px solid #cc0000;
    padding: 10px;
    margin-top: 20px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

/* Other
-----------------------------------------------------------------------------*/
.errorMessage {
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textCenter {
    text-align: center;
}

.menuActive {
    font-weight: bold;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.auctionListItem {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    /*background: aqua;*/
    height: 70px;
    width: 1050px;
    margin-bottom: 5px;
}

.even {
    background: #f2f2f2;
}

.odd {
    background: #ffeded;
}
