* {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #00519e;
}

a:hover {
    text-decoration: underline;
}

#page {
    width: 1260px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 109px;
}

#banner {
    text-align: center;
    height: 70px;
    padding-top: 20px;
}

#menuBar {
    
}

#menuBarLeft {
    background-image: url(../img/menu_bg.png);	
    width: 90%;
    float: left;
}

#menuBarRight {
    background-image: url(../img/menu_bg.png);	
    width: 10%;
    float: right;
    text-align: right;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    padding: 0 0 100px;
    height: 1%;
    position: relative;
}

#middle:after {
    content: '';
    clear: both;
    display: table;
}

#container {
    width: 100%;
    float: left;
    overflow: hidden;
}

#content {
    padding: 10px 0 0 210px;
}

#contentWithoutSubMenu {
    padding: 10px 0 0 20px;
}

/* Sidebar Left
-----------------------------------------------------------------------------*/
#subMenu {
    float: left;
    width: 190px;
    margin-left: -100%;
    position: relative;
    background-image: url(../img/menu_bg.png);
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 1260px;
    margin: -20px auto 0;
    height: 20px;
    background-image: url(../img/menu_bg.png);
    position: relative;
    text-align: center;
}

/* Tables
-----------------------------------------------------------------------------*/
table {
    width:98%;
    border-collapse:collapse;
}

td, th {
    font-size:1em;
    padding:3px 7px 2px 7px;
}

tr:hover {
    background-color: #ffeeee;
}

td {
    border:1px solid #cc0000;
}

th {
    font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#cc0000;
    color:#ffffff;
}

th:first-child {
    -moz-border-radius: 16px 0 0 0;
    -webkit-border-radius: 16px 0 0 0;
    border-radius: 16px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 16px 0 0;
    -webkit-border-radius: 0 16px 0 0;
    border-radius: 0 16px 0 0;
}

th:only-child{
    -moz-border-radius: 16px 16px 0 0;
    -webkit-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
}

tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
}

/* Forms
-----------------------------------------------------------------------------*/
.zend_form {  
    background: #fff;  
    width: 640px;  
    margin: 5px auto;  
    padding: 0;  
    overflow: auto;  
}  
  
.zend_form dt {  
    padding: 0;  
    clear: both;  
    width: 30%;  
    float: left;  
    text-align: right;  
    margin: 5px 5px 5px 0;  
}  
  
.zend_form dd {  
    padding: 0;  
    float: left;  
    width: 68%;  
    margin: 5px 2px 5px 0;  
}  

.loginPageCustoms {
    margin-left: 500px;
}

.errors {  
    color: red;
}  

.zend_form p {  
    padding: 0;  
    margin: 0;  
}  
  
.zend_form input, .zend_form textarea {  
    margin: 0 0 2px 0;  
    padding: 0;  
}  
  
.submit {  
    float: right;
}  
  
.required:before{content:'* '}  
  
.optional:before{content:'+ '}  

/* jQuery
-----------------------------------------------------------------------------*/
.deleteButton .ui-button-icon-primary {
    left: 0px !important;
}

.editButton .ui-button-icon-primary {
    left: 0px !important;
}

.ui-widget {
    font-size: 14px !important;
}

/* Other
-----------------------------------------------------------------------------*/
.errorMessage {
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textCenter {
    text-align: center;
}

.menuActive {
    font-weight: bold;
}
